.mceContentBody{
	max-width: 1100px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 18px;
}
body.wp-autoresize{
	padding-left: 33px !important;
	padding-right: 33px !important;
}
.mceContentBody .wp-caption.alignnone, .mceContentBody .wp-caption.aligncenter{
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.mceContentBody img{
	border: none;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
.mceContentBody .wp-caption{
	background-color: #0d0d0d;
	padding: 1em 1em 0 1em;
	margin-bottom: 1em;
}
.wp-caption-dd{
	text-align: center;
	padding: 0;
	color: #e5e5e5;
}
.mceContentBody .wp-caption.alignright{
	float: right;
	width: auto !important;
	margin-left: 10px;
}
.mceContentBody .wp-caption.alignright img{
	width: auto;
}
.mceContentBody .wp-caption.alignleft{
	float: left;
	width: auto !important;
	margin-right: 10px;
}
.mceContentBody .wp-caption.alignleft img{
	width: auto;
}
.mceContentBody p:after{
	content: "";
	clear: both;
	display: table;
}
.mceContentBody p .alignright{
	float: right;
	width: auto;
	margin: 5px 0 10px 10px;
}
.mceContentBody p .alignleft{
	float: left;
	width: auto;
	margin: 5px 10px 10px 0;
}
.mceContentBody blockquote{
	font-style: italic;
	border-left: solid 2px #ff794d;
	margin-left: 1.5rem;
	margin-bottom: 1em;
	padding: 0 0 0 0.5em;

}
.mceContentBody blockquote p{
	padding: 0;
}
.mceContentBody p .alignright .mceContentBody .aligncenter,
.mceContentBody div.aligncenter, .mceContentBody p .aligncenter{
    display: block;
    margin: 1em auto 1em auto;
    width: auto;
}
.video-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; overflow: hidden; 
	background-color: $light-gray;
	margin: 1em 0;
}
.video-container iframe, .video-container object, .video-container embed, .video-container video { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
}