.block-cnt--slider{min-height:30vh}.news__inner-news-post-cnt .news-post-excerpt__all-news-page{-webkit-box-flex:1;-ms-flex:1 1 100%;flex:1 1 100%;padding-left:0px;padding-top:10px;line-height:1.4}.news__inner-news-post-cnt .news-post-excerpt__all-news-page--text-only{padding-top:0}.medium-news-post-thumnail{-webkit-box-flex:1;-ms-flex:1 1 100%;flex:1 1 100%}
