.block-cnt--slider{min-height:20vh}.block-cnt--slider .medium-news-post-thumnail__play-btn--left{font-size:36px;right:2px;bottom:2px}.block-cnt__inner--important-news{padding-left:0}.block-cnt__buttons-cnt{left:0}.block-cnt__buttons-cnt__button{font-size:1rem}.small-news-post-thumnail{float:none;margin-right:0;margin-bottom:10px}
