@import "variables";
@import "mixins";

/* pt-sans-narrow-regular - latin_cyrillic */
@font-face {
    font-family: 'Economica';
    src: url('fonts/Economica-Regular.woff2') format('woff2'),
        url('fonts/Economica-Regular.woff') format('woff'),
        url('fonts/Economica-Regular.ttf') format('truetype'),
        url('fonts/Economica-Regular.svg#Economica-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Economica';
    src: url('fonts/Economica-Bold.woff2') format('woff2'),
        url('fonts/Economica-Bold.woff') format('woff'),
        url('fonts/Economica-Bold.ttf') format('truetype'),
        url('fonts/Economica-Bold.svg#Economica-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* icon-font start*/
@font-face {
  font-family: 'company';
  src:
    url('fonts/company.ttf?mohojt') format('truetype'),
    url('fonts/company.woff?mohojt') format('woff'),
    url('fonts/company.svg?mohojt#company') format('svg');
  font-weight: normal;
  font-style: normal;
}
.company {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'company' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.comp-search:before {
  position: absolute;
  pointer-events: none;
  top: 7px;
  left: 7px;
  content: "\e986";
}
.news-play-button:before {
  content: "\ea15";
}
.comp-circle-up:before {
  content: "\ea41";
}
.comp-circle-right:before {
  content: "\ea42";
}
.comp-circle-left:before {
  content: "\ea44";
}

/* icon-font start end*/
html{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 18px;
}
body{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    list-style: none;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
    font-family: 'Economica', Polatino;
	font-weight: 400;
	line-height: 1.6;
	color: $text-gray;
	font-size: 18px;
	background: $background-white;
	overflow: hidden;
}
.fonts-loading body{
	.owl-carousel-item__link>header>h3, .block-cnt__header>h4, .owl-carousel-item__link__header>h3, .block-cnt__buttons-cnt span{
		opacity: 0;
	}
}
.fonts-loaded body,
.fonts-failed body {
	.owl-carousel-item__link>header>h3, .block-cnt__header>h4, .owl-carousel-item__link__header>h3, .block-cnt__buttons-cnt span{
		opacity: 1;
	}
}
.owl-carousel-item__link>header>h3, .block-cnt__header>h4, .owl-carousel-item__link__header>h3, .block-cnt__buttons-cnt span{
	-webkit-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}
*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; 
}
img{
	border: none;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
p {margin-bottom: 1em;}

h1, h2, h3, h4 {
	padding: 0.5em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
}
h1 {
	font-size: 4em;
}
h2 {font-size: 3em;}

h3 {font-size: 2em;}

h4 {font-size: 1.5em;}
a{
	-webkit-transition: color 0.1s linear 0s;
	-o-transition: color 0.1s linear 0s;
	transition: color 0.1s linear 0s;
}
a:link{
	@include link($almost-black, none);
}
a:visited{
	@include link($almost-black, none);
}
a:hover{
	@include link($pale-red, none);
}
a:active{
	@include link($pale-blue, none);
} 
*::-moz-selection{
	background-color: $pale-red;
	color: $almost-white;
} 
*::selection{
	background-color: $pale-red;
	color: $almost-white;
}
.site-wrap{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	&__inner-wrap{
		min-height: 100%;
		padding-bottom: 683px;
		padding-left: 80px;
		position: relative;
		background-color: $background-white;
	}
}
.main{
	margin-left: 160px;
}
.carousel-item-link{
	display: block;
	position: relative;
}
/*================================menu start===================================*/
.nav-bar{
	background-color: $blue;
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	width: 80px;
	z-index: 20;
	pointer-events: none;
    -webkit-box-shadow: 1px 0px 7px $shadow-gray;
    box-shadow: 1px 0px 7px $shadow-gray;
	&__logo{
		width: 80px;
		height: 160px;
		background: url(../images/logo.svg) no-repeat center center;
		background-size: contain;
		>a{
			position: relative;
			display: block;
			pointer-events: auto;
			height: 100%;
			width: 100%;
			z-index: 200;
		}
	}
	&__button{
		width: 80px;
		height: 80px;
		position: absolute;
		border-radius: 100%;
		background-color: $blue;
		top: 50%;
		left: 0;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		z-index: 200;
		cursor: pointer;
		pointer-events: auto;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
		-webkit-transform-origin: center top;
		-ms-transform-origin: center top;
		transform-origin: center top;
		svg{
			path{
				-webkit-transition: all 0.4s linear 0s;
				-o-transition: all 0.4s linear 0s;
				transition: all 0.4s linear 0s;
			}
		}
		&:hover .st0{
			fill: $almost-white;
		}
	}
}
.nav-menu-cnt{
	position: fixed;
	z-index: 10;
	width: 0;
	height: 100%;
	min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    &__scroll-cnt{
    	overflow: hidden;
    	height: 100vh;
    	background-color: $blue;
    }
    &__inner{
    	height: 100vh;
    	min-height: 100%;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: horizontal;
    	-webkit-box-direction: normal;
    	-ms-flex-flow: row nowrap;
    	flex-flow: row nowrap;
    	-webkit-box-pack: start;
    	-ms-flex-pack: start;
    	margin-left: 80px;
    }
    &--hidden{
    	pointer-events: none;
    }
}
.nav-block{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin: 4rem 0;
    min-height: 400px;
    z-index: 10;
    color: $pale-blue;
    a::-moz-selection{
    	background-color: transparent;
		color: $pale-red;
	} 
	a::selection{
		background-color: transparent;
		color: $pale-red;
	}
    &__line{
    	width: 1px;
    	background-color: $almost-white;
    	position: absolute;
    	right: 0;
    	top: 0;
    	height: 0;
    	&--last{
    		right: auto;
    		left: 0;
    	}
    }
    &--address{
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
    	-webkit-box-flex: 1;
    	-ms-flex: 1;
    	flex: 1;
    	margin-left: 80px;
    	z-index: 1;
    	overflow: hidden;
    }
    &__info-cnt{
     	padding: 0 0.5rem;
		font-size: 2rem;
		font-weight: 700;
		overflow: hidden;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		.info-list{
			list-style: none;
			.info-row{
				white-space: nowrap;
			}
		}
		header>h4{
	    		padding-bottom: 0;
	    	}
    }
    a:link{
		@include link($almost-white, none);
	}
	a:visited{
		@include link($almost-white, none);
	}
	a:hover{
		@include link($pale-red, none);
	}
	a:active{
		@include link($pale-red, none);
	} 
}
.nav{
	list-style: none;
	font-size: 4rem;
	font-weight: 700;
	height: 320px;
	padding-left: 4rem;
	padding-right: 4rem;
	white-space: nowrap;
	&--secondary{
		list-style: none;
		font-size: 3rem;
	}
}
/* menu scroll styling start*/
.scrollbar-thumb-y{
	border-radius: 0px !important;
	background: $pale-red !important;
}
.scrollbar-track{
	background-color: $almost-white !important;
}
.scrollbar-track-x{
	display: none !important;
}
/* menu scroll styling end*/
.owl-carousel-item{
	background-image: url(../images/blocks.gif);
	background-repeat: no-repeat;
	background-position: center center; 
	&__link{
		display: block;
		height: 0;
		padding-bottom: 50%;
		position: relative;
		-webkit-transition: all 0.3s cubic-bezier(0.6, 0.2, 0.1, 1);
		-o-transition: all 0.3s cubic-bezier(0.6, 0.2, 0.1, 1);
		transition: all 0.3s cubic-bezier(0.6, 0.2, 0.1, 1);
		overflow: hidden;
		img{
			position: absolute;
		}
		&__header{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			padding: 0 1em;
			background: -webkit-gradient(linear, left top, right top, color-stop(50%, $blue), color-stop(75%, $pale-blue));
			background: -webkit-linear-gradient(left, $blue 50%, $pale-blue 75%);
			background: -o-linear-gradient(left, $blue 50%, $pale-blue 75%);
			background: -webkit-linear-gradient(339deg, $blue 50%, $pale-blue 75%);
			background: -o-linear-gradient(339deg, $blue 50%, $pale-blue 75%);
			background: linear-gradient(111deg, $blue 50%, $pale-blue 75%);
			color: $almost-white;
			font-weight: 700;
			word-wrap: break-word;
			opacity: .9;
			&:hover{
				color: $pale-red;
			}
		}
	}
	&:hover .medium-news-post-thumnail__play-btn--left{
		color:$pale-blue;
	}
}
.block-cnt__buttons-cnt{
	width: 70%;
	height: 20%;
	position: absolute;
	left: 2rem;
	bottom: 0;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	&__button{
		font-family: 'Economica';
		background-color: $blue;
		color: $pale-red;
		font-size: 1.5rem;
		font-weight: 700;
		height: 100%;
		width: 50%;
		outline: none;
		border: none;
		border-right: 1px solid $pale-blue;
		border-radius: 0px;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		&:nth-of-type(2){
			border-left: 1px solid $pale-blue;
			border-right: none;
		}
		&:hover{
			background-color: $pale-blue;
			border-right-color: coral;
			border-left-color: coral;
		}
	}
}
.main__block{
	padding: 0 0 80px 80px;
	background-color: #f0f2f4;
    margin: 80px 0;
}
.block-cnt{
	background-color: $background-white;
	&--slider{
		position: relative;
		min-height: 50vh;
		&::after {
		    content: "";
		    clear: both;
		    display: table;
		}
	}
	&__header{
		padding: 0 1rem;
		font-weight: 700;
	}
	&__inner{
	    padding: 2rem;
	    &--news{
	    	padding: 0 2rem 1rem 2rem;
	    }
	    &--info{
	    	outline: none;
	    }
	    &--important-news{
	    	padding: 0;
	    	padding-left: 2rem;
	    	width: 100%;
	    	max-width: calc(1366px + 2rem);
	    	float: right;
	    }
	    &--pictures{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			padding: 2rem;
		}
	}
}
.info-pictures-cnt{
	background-color: gray;
	&__picture{
		width: 250px;
		height: 350px;
		position: relative;
		margin: 0.5rem;
		&--one{
			background: url(../images/info-img.svg) no-repeat;
			background-position: 50% 0%;
			background-size:  250px 250px;
		}
		&--two{
			background: url(../images/info-bulb.svg) no-repeat;
			background-position: 50% 0%;
			background-size:  250px 250px;
		}
		&--three{
			background: url(../images/info-profile.svg) no-repeat;
			background-position: 50% 0%;
			background-size:  250px 250px;
		}
		&__infobox{
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}
.read-more{
	&:link{
		color: $text-gray;
	}
	&:visited{
		color: $text-gray;
	}
	&:hover{
		color: $pale-red;
	}
	&:active{
		@include link($pale-blue, none);
	}
	&__icon{
		padding-left: 5px;
		vertical-align: middle;
	}
}
/* pagination links start*/
.pagination-cnt{
	padding-top: 1rem;
	&__inner{
		height: 28px;
		line-height: 28px;
		font-size: 24px;
		font-weight: 700;
	}
}
.prev, .next{
	&:link{
		color: $pale-red;
	}
	&:visited{
		color: $pale-red;
	}
	&:hover{
		color: $pale-blue;
	}
	&:active{
		color: $pale-blue;
	}
	.right-arrow, .left-arrow{
		vertical-align: text-top;
		font-size: 28px;
	}
}

/* pagination links end*/

/* index page news post start */
.news__inner-news-post-cnt{
	position: relative;
	&::before{
		content: "";
		display: block;
		width: 1px;
		background-color: $light-gray;
		position: absolute;
		left: -1em;
		top: 1em;
		bottom: 0; 
	}
	&--clear::after{
		content: "";
	    clear: both;
	    display: table;
	}
	.news-post-header{
		padding-bottom: 0;
		font-weight: bold;
	}
	.news-post-excerpt{
		line-height: 1.5;
		>p{
			margin-bottom: 0;
		}
	}
}
.news-post-info{
	font-weight: bold;
	&__important-news{
		padding: 0 2px;
		background-color: $pale-blue;
		>a{
			color: $almost-white;
			&:hover{
				color: $pale-red;
			}
		}
	}
	&__important-news-date{
		padding: 0 4px;
	}
}
.small-news-post-thumnail{
    float: left;
    margin-right: 10px;
    position: relative;
    width: 180px;
    >a{
    	position: relative;
	    height: 0;
	    padding-bottom: 50%;
	    display: block;
	    background-color: $almost-white;
	    overflow: hidden;
    }
	&__play-btn{
		color:$pale-red;
		-webkit-transition: color 0.2s ease-in-out 0s;
		-o-transition: color 0.2s ease-in-out 0s;
		transition: color 0.2s ease-in-out 0s;
		position: absolute;
		font-size: 38px;
		bottom: 5px;
		left: 5px;
	}
    &:hover .small-news-post-thumnail__play-btn{
    	color:$pale-blue;
    } 
}
/* index page news post end */

/* all news page start*/
.news__inner-news-post-cnt{
	.news-post-excerpt{
		&__all-news-page{
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			-ms-flex-negative: 1;
			flex-shrink: 1;
			-ms-flex-preferred-size: calc(65% - 10px);
			flex-basis: calc( 65% - 10px );
			line-height: 1.6;
			padding-left: 10px;
			&--text-only{
				padding-left: 0px;
				-webkit-box-flex: 1;
				-ms-flex: 1 1 100%;
				flex: 1 1 100%;
			}
		}
	}
}
.all-news-post-header{
	&--important-news{
		position: relative;
		&::before{
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            position: absolute;
            bottom: 1px;
            left: 0;
            background-color: $light-gray;
		}
		&::after{
            content: "";
            display: block;
            height: 75%;
            width: 6px;
            position: absolute;
            bottom: 1px;
            right: 0;
            background-color: $light-gray;
		}
	}
}
.all-news-content-wrap{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.medium-news-post-thumnail{
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 35%;
    flex: 1 1 35%;
    >a{
    	position: relative;
	    height: 0;
	    padding-bottom: 50%;
	    display: block;
	    background-color: $almost-white;
	    overflow: hidden;
	    img{
	    	position: absolute;
	    }
    }
	&__play-btn{
		color:$pale-red;
		-webkit-transition: color 0.2s ease-in-out 0s;
		-o-transition: color 0.2s ease-in-out 0s;
		transition: color 0.2s ease-in-out 0s;
		position: absolute;
		font-size: 46px;
		bottom: 5px;
		left: 5px;
		z-index: 1;
		&--left{
			color:$pale-red;
			-webkit-transition: color 0.2s ease-in-out 0s;
			-o-transition: color 0.2s ease-in-out 0s;
			transition: color 0.2s ease-in-out 0s;
			position: absolute;
			font-size: 46px;
			left: auto;
			right: 5px;
			bottom: 5px;
			z-index: 1;
		}
	}
    &:hover .medium-news-post-thumnail__play-btn{
    	color:$pale-blue;
    } 
}
/* all news page end*/
/* single page/post styling start*/
.single-page-cnt{
	&__header{
		padding-left: 1rem;
	}
	&__content{
		padding: 2rem;
	}
}
.single-post-cnt{
	&__header{
		padding-left: 1rem;
		&--clear{
			content: "";
		    clear: both;
		    display: table;
		}
	}
	&__post-info{
		padding-left: 1rem;
	}
	&__post-content{
		padding: 2rem;
		&::after{
			content: "";
		    clear: both;
		    display: table;
		}
	}

}
.single-post-cnt p:after {
    content: "";
    clear: both;
    display: table;
}
.single-post-thumbnail-cnt{
	max-width: 1366px;
	float: right;
}
.wp-caption {
    background-color: $almost-black;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
	.wp-caption-text{
		text-align: center;
		padding: 0;
		margin: 0;
	}
}
.wp-caption.alignnone, .wp-caption.aligncenter{
	max-width: 100%;
}
.wp-caption.alignleft {
    float: left;
    width: auto !important;
    margin-right: 10px;
	img{
		width: auto;
	}
}
.wp-caption.alignright {
    float: right;
    width: auto !important;
    margin-left: 10px;
	img{
		width: auto;
	}
}
.video-container{
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background-color: $almost-white;
    margin: 1em 0;
    iframe{
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
    }
    &--no-margin{
    	margin-top: 0;
    }
}
p{
	.alignright{
		float: right;
		width: auto;
		margin: 0 0 10px 10px;
	}
	.alignleft{
		float: left;
		width: auto;
		margin: 0 10px 10px 0;
	}
}
blockquote{
	p{
		padding: 0;
	}
	font-style: italic;
	border-left: solid 2px $pale-red;
	margin-left: 1.5rem;
	margin-bottom: 1em;
	padding: 0 0 0 0.5em;

}
p .alignright .aligncenter,
div.aligncenter, p .aligncenter{
    display: block;
    margin: 1em auto 1em auto;
    width: auto;
}
/* single page/post styling end*/
/* search page styles start */
.search-form-cnt{
	padding: 0 1.5rem;
	padding-bottom: 1rem;
	.searchform{
		margin-right: 0;
	}
}
.news__search-post-cnt{
	&--clear::after{
		content: "";
	    clear: both;
	    display: table;
	}
	.news-post-header{
		padding-bottom: 0;
	}
}
.news__search-post-cnt .search-post-excerpt>p{
	margin-bottom: 0;
}
.news__search-post-cnt .search-post-excerpt{
	line-height: 1.5;
}
/* search page styles end */
.footer{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 80px;
	&__inner{
		text-align: center;
		color: gray;
		font-size: 16px;
		height: 683px;
		background-color: $almost-white;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		overflow: hidden;
		margin-right: 160px;
		position: relative;
	}
}
.about{
	text-align: left;
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	p{
		padding-left: 30px;
		margin-bottom: 0;
	}
	h4{
		text-align: center;
	}
}
.footer-menu{
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	ul{
		list-style: none;
	}
	a{
		color: $almost-black;
		&:hover{
			@include link($pale-red, none);
			}
		&:active{
			@include link($pale-blue, none);
		} 
	}
	div{
		padding-top: 1rem;
	}
	&__footer-copy{
		width: 100%;
	    position: absolute;
	    bottom: 0;
		padding-bottom: 0;
	}
}
.screen-reader-text{
	display:none;
}
.footer-search{
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;	
}
.searchform{
	white-space: nowrap;
	-ms-flex-preferred-size: 250px;
	flex-basis: 250px;
	margin-right: 30px;
	position: relative;
	    .search-btn{
	    	position: absolute;
	    	right: 0;
	    	top: 0;
	    	display: inline-block;
	    	font-size: 26px;
	    	color: white;
			&:hover {
				color: $almost-white;
			}
	    	.submit{
	    		width: 40px;
	    		height: 40px;
	    		background-color: $pale-red;
	    		display: inline-block;
    			&:hover{
					background-color: $pale-blue;
				}
				&:active{
					background-color: $pale-blue;
				}
	    	}
	    }
		input[type=text]{
			width: 100%;
			padding-right: 40px;
			font-size: 1rem;
			color: gray;
		}
		@media screen and (max-width: 600px) {
			margin-right: 10px;
			padding: 0;
		}
}
.footer-logo{
	width: 80px;
	height: 160px;
	background: url(../images/logo.svg) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.7;
}
input{
    padding: 3px 5px;
    height: 40px;
    color: $pale-red;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: solid 1px $pale-red;
    font-family: 'Economica';
    font-size: 14px;
}
input[type=submit]{
	background-color: $pale-red;
	color: $text-gray;
	cursor: pointer;
	-webkit-transition: background-color 0.2s ease-in-out 0s;
	-o-transition: background-color 0.2s ease-in-out 0s;
	transition: background-color 0.2s ease-in-out 0s;
	border: none;
	height: 40px;
	&:hover{
		background-color: $pale-blue;
		color: $almost-black;
	}
	&:active{
		background-color: $pale-blue;
	}
}
.go-top-button{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 160px;
	height: 160px;
	&__link{
		display: block;
		padding: 4px;
		width: 100%;
		height: 100%;
		text-align: center;
		font-size: 152px;
		-webkit-transition: 0.2s linear;
		-o-transition: 0.2s linear;
		transition: 0.2s linear;
		outline: none;
		&:link{
			color: $blue;
		}
		&:visited{
			color: $blue;
		}
		&:hover{
			color: $pale-red;
		}
		&:active{
			color: $pale-blue;
		}
	}
}
html.can-touch input[type=submit]:hover{
	background-color: $pale-red;
}
/* comments start*/
.comment-cnt{
	padding: 0 2rem 2rem 2rem;
	ul{
		list-style: none;
	}
	img{
		width: auto;
	}
	textarea{
		color: $text-gray;
	    border: solid 1px $pale-blue;
	    font-family: 'Economica';
	    font-size: 16px;	
	}
	.depth-2{
		margin-left: 34px;
	}
    .comment-metadata>a{
		font-size: 16px;
	}
	.comment-form-author, .comment-form-email{
		display: table;
		label{
			display: table-cell;
			padding: 0 4px;
			vertical-align: middle;
			min-width: 54px;
		}
		input{
			display: table-cell;
		    font-size: 14px;
		    border: solid 1px $pale-blue;
		    color: $text-gray;
		}

		
	}
    input[type=submit]{
    	color: white;
    	&:hover{
    		color: $almost-white;
    	}
    }
    .form-submit{
    	margin-bottom: 0;
    }
}
/* comments end*/

