@import "variables";
@import "mixins";
body{
	margin-top: 80px;
	min-height: calc( 100vh - 80px);
	height: calc( 100vh - 80px);
}
.site-wrap{
	padding-left: 0px;
	&__inner-wrap {
	    padding-left: 0;
	}
}
.nav-bar{
	left: 0;
	right: 0;
	top: 0;
	height: 80px;
	width: 100%;
	-webkit-box-shadow: 0px 1px 7px $shadow-gray;
	box-shadow: 0px 1px 7px $shadow-gray;
	&__logo{
		width: 160px;
		height: 80px;
		background: url(../images/logo-hor.svg) no-repeat center center;
	}
	&__button{
		top: 0;
		left: 50%;
		-webkit-transform-origin: left center;
		-ms-transform-origin: left center;
		transform-origin: left center;
		-webkit-transform: translateY(0%) translateX(-50%);
		-ms-transform: translateY(0%) translateX(-50%);
		transform: translateY(0%) translateX(-50%);
	}
}
.nav-menu-cnt{
	width: 100%;
	height: 0;
	min-height: 0;
    margin-top: 80px;
    margin-left: 0px;
    &__inner{
    	height: calc(100vh - 80px);
    	min-height: 100%;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	-ms-flex-flow: column;
    	flex-flow: column;
    	margin-left: 0px;
    }
    &__scroll-cnt{
    	height: calc(100vh - 80px);
    }
}
.nav-block{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin: 2rem 1rem 1rem 1rem;
    min-height: 345px;
    &:first-child{
    	margin-top: 3rem;
    }
    &--address{
    	-webkit-box-align: stretch;
    	-ms-flex-align: stretch;
    	align-items: stretch;
    	-webkit-box-flex: 0;
    	-ms-flex: 0 1 auto;
    	flex: 0 1 auto;
    	min-height: 455px;
    }
    &__menu{
    	padding-bottom: 2rem;
    }
    &__info-cnt{
    	padding: 0 4rem;
    	font-size: 2rem;
    }
    &__line{
    	width: 0;
    	height: 1px;
    	background-color: #fff;
    	position: absolute;
    	left: 0;
    	bottom: 0;
    	top: 100%;
    	&--last{
			top: auto;
			bottom: 100%;	
		}
    }
}
.nav{
	font-size: 3rem;
	height: auto;
	&--secondary{
		font-size: 2rem;
		height: auto;
	}
}
.block-cnt{
	&--slider{
		min-height: 40vh;
	}
}
.news__inner-news-post-cnt{
	.news-post-excerpt{
		&__all-news-page{
			line-height: 1.5;
		}
	}
}
.footer{
	left: 0px;
}