.nav{
	padding-left: 0;
	padding-right: 0;
}
.nav-block__info-cnt{
	padding: 0;
}
.block-cnt{
	&--slider{
		min-height: 14vh;
	}
}
.post{
	.bot-line::after{
		width: 100%;
	}
} 
.post>.inner-post-cnt>h4:after{
	width: 100%;
}
.footer-search{
	display: none;
}