.block-cnt{
	&--slider{
		min-height: 20vh;
		.medium-news-post-thumnail__play-btn--left {
		    font-size: 36px;
		    right: 2px;
		    bottom: 2px;
		}
	}
	&__inner{
		&--important-news{
			padding-left: 0;
		}
	}
	&__buttons-cnt{
		left: 0;
		&__button{
			font-size: 1rem;
		}
	}
}
.small-news-post-thumnail{
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
}