.nav{
	    padding-left: 2rem;
	    padding-right: 2rem;
		font-size: 2rem;
		&--secondary{
			font-size: 1.5rem;
		}
	}
.nav-block{
	min-height: 250px;
    &__menu{
    	padding-bottom: 1rem;
    }
    &__info-cnt{
    	padding: 0 2rem;
    	font-size: 1.5rem;
    }
    &--address{
    	min-height: 360px;
    }
}
.info-pictures-cnt{
	&__picture{
		width: 150px;
		height: 300px;
		background-size: 150px 150px;
	}
}
.block-cnt{
	&--slider{
		min-height: 25vh;
	}
}
.main{
	margin-left: 0px;
}
.footer{
	margin-right: 0px;
}
.about{
	display: none;
}