@import "variables";
@import "mixins";
.main{
	margin-left: 80px;
}
.owl-carousel-item{
	&__link{
		&__header{
			h3{
				font-size: 1rem;
			}
			&:hover{
				color: $pale-red;
			}
		}
	}
}
/* thumbnails start*/
.news__inner-news-post-cnt{
	.news-post-excerpt{
		&__all-news-page{
			line-height: 1.3;
		}
	}
}
/* thumbnails end*/
.go-top-button{
	width: 80px;
	height: 80px;
		&__link{
			padding: 2px;
			font-size: 76px;
		}
}
.footer{
	&__inner{
		margin-right: 80px;
	}
}